.App {
  font-family: Kalam, cursive;
  text-align: center;
}

body {
  margin: 0;
  border: 1px solid black;
}

.navigation {
  padding: 1rem;
  background-color: #393e46;
  margin-bottom: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.navigation img {
  width: 90px;
  min-width: auto;
}

.navigation h1 {
  width: 5%;
  display: inline;
  font-size: 50px;
  color: #f4f3f3;
  min-width: auto;
}

input {
  width: 70%;
  padding: 0.7rem;
  border-radius: 0.5rem;
  font-family: inherit;
}

span {
  padding: 0.5rem;
  font-size: 3rem;
  cursor: pointer;
}

.footer {
  background-color: #393e46;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.footer div {
  margin: auto;
  width: 60%;
  min-width: auto;
}

.footer h5 a {
  text-decoration: none;
  color: #cccccc;
}

hr {
  margin-top: 1rem;
  width: 70%;
  min-width: auto;
}

.footer-head-break1 {
  border-top: #222831;
  width: 30%;
  min-width: 100px;
  margin-top: -1.2rem;
}

.footer-head-break2 {
  border-top: #222831;
  width: 30%;
  min-width: 100px;
  margin-bottom: -1.2rem;
}
